.rainbow {
  background: linear-gradient(90deg, #ff0000, #ff8700, #ffd300, #deff0a, #a1ff0a, #0aff99, #0aefff, #147df5, #580aff, #be0aff, #ff0000); /*rainbow text animation*/
  -webkit-text-fill-color: #F000;
  -webkit-background-clip: text;
  -webkit-animation: animated_background 100s linear infinite;
}
@keyframes animated_background {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: -10000px 0;
    }
}
#corn1 {
  border-radius: 30px 30px 30px 30px; /*corn, short for corner*/
  background: rgba(0, 0, 0, 0.4);
  padding: 20px; 
  width: 200px;
  height: auto;
  min-height: 50px;
  line-height: 50px;
  margin: auto;
  margin-top: 20px;
}
#cornerfit {
  border-radius: 30px 30px 30px 30px; /*same thing as above but it can stretch out in order to fit longer lines of text*/
  background: rgba(0, 0, 0, 0.4);
  padding: 20px; 
  width: fit-content;
  height: auto; 
  margin: auto;
  line-height: auto;
}
  #cornstretch {
    border-radius: 30px 30px 30px 30px; /*corn, short for corner*/
    background: rgba(0, 0, 0, 0.4);
    padding: 20px; 
    width: 200px;
    height: auto;
    min-height: 25px;
    line-height: 25px;
    margin: auto;
    margin-top: 20px;
}
#cornmini {
  border-radius: 5px 5px 5px 5px; /*same thing as corn1 but mini*/
  background: rgba(0, 0, 0, 0.4);
  padding: 10px; 
  width:20px;
  height: 20px; 
}
    .myDiv {
  border: 3px outset black; /* the big box at the top of the screen */
  border-radius: 0px 0px 10px 10px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;  
  width: auto;
  margin: auto;
}
#whitet {
  color: white; /* white text... */
}
p.main {
  text-align: center;
  font-size: 20px;
}
body {
  background: rgba(0, 0, 0, 0.925) /* Black bachground with 20% opacity (or 80) idk */
}
.solid {  
  border: 1px solid black; /* makes outline around the boxes */
  outline-style: solid;
  outline-color: black;
  outline-width: wide;
}
.big {
  text-align: center;
  font-size:70px;
}
.font {
  font-family: "Open Sans"; /* IT LITERALLY SAYS FONT 😭 */
}
.center {
  text-align: center; /*IT SAYS CENTER TEXT ALIGN😫*/
}
#corn404 {
  border-radius: 30px 30px 30px 30px; /*i forgot what this was for but i think its for the 404 error 💀*/
  background: rgba(0, 0, 0, 0.4);
  padding: 20px; 
  width: fit-content;
  height: auto; 
  margin: auto;
  margin-top: 20px;
  line-height: 50px;
  z-index: 2;
}
ul {
  list-style-type: none; /*gets rid of the dots next to the main sites text*/
}
input {
  border-radius: 13px;
  width: 600px;
  height: 30px;
  font-family: "Open Sans";
  font-size: 20px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #494949;
  overflow: hidden;
  border: black;
  border-radius: 12px 12px 0px 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #777777;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #c80707;
  color: white;
}
#hidebox {
  background-image: url("/img/docs.png");
  z-index: 23;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  position: fixed;
}
.hidden {
  display: none;
}